<% if flash[:alert] %>
  <p id="notice"><%= flash[:alert] %></p>
<% end %>

<%= form_tag do %>
  <fieldset style="width:0;">
    <legend>Please Log In</legend>
    <div class="ui-state-default">
      <label for="name" >Name:</label>
      <%= text_field_tag :name, params[:name] %>
    </div>
    <div class="ui-state-default" style="margin-top:2px;">
      <label for="password" >Password:</label>
      <%= password_field_tag :password, params[:password] %>
    </div>
    <div>
      <%= submit_tag "Login", :class=>"ui-button ui-state-default ui-corner-all" %>
    </div>
  </fieldset>
<% end %>
