<% if notice %>
  <div class="ui-widget">
    <div style="padding-left:10px; margin-bottom:5px;" class="ui-state-highlight ui-corner-all"> 
      <p><span style="float: left; margin-right: .3em;" class="ui-icon ui-icon-info"></span>
      <%= notice %></p>
    </div>
  </div>
<% end %>

<%= form_tag do %>
  <fieldset>
    <legend>Search</legend>
    <table>
    
      <tr>
        <td class="ui-state-active">Department</td>
        <td class="ui-state-default">
          <select name="department">
            <option value="-1">---</option>
            <% Issue::DEPARTMENT_LIST.each do |d| %>
              <option value="<%= d %>" 
              <% if params[:department]==d %>selected<% end %>
              ><%= d %></option>
            <% end %>
          </select>
        </td>
      </tr>
      
      <tr>
        <td class="ui-state-active">Subject</td>
        <td class="ui-state-default"><%= text_field_tag :subject, params[:subject] %></td>
      </tr>
      
      <tr>
        <td class="ui-state-active">To_user</td>
        <td class="ui-state-default">
          <select name="to_user">
            <option value="-1">---</option>
            <% User.all.each do |u| %>
              <option value="<%= u.id %>"
              <% if params[:to_user]==u.id.to_s %>selected<% end %>
              ><%= u.name %></option>
            <% end %>
          </select>
        </td>
      </tr>
      
      <tr>
        <td class="ui-state-active">Status</td>
        <td class="ui-state-default">
          <select name="status">
            <option value="-1">---</option>
            <% Issue::STATUS_LIST.each do |s| %>
              <option value="<%= Issue::STATUS_LIST.index(s) %>"
              <% if params[:status]==Issue::STATUS_LIST.index(s).to_s %>selected<% end %>
              ><%= s %></option>
            <% end %>
          </select>
        </td>
      </tr>
      
    </table>
    <div class="actions">
      <%= submit_tag "Search", :class=>"ui-button ui-state-default ui-corner-all" %>
    </div>
  </fieldset>
<% end %>

<%= form_tag do %>
  <fieldset>
    <legend>Go to "ABC-123456"</legend>
    <%= text_field_tag :goto, params[:goto] %>
    <%= submit_tag "Go", :class=>"ui-button ui-state-default ui-corner-all" %>
  </fieldset>
<% end %>

<% if @issues.count>0 %>
<table>
  <tr>
    <th class="ui-state-active">#</th>
    <th class="ui-state-active">Name</th>
    <th class="ui-state-active">Email</th>
    <th class="ui-state-active">Department</th>
    <th class="ui-state-active">Subject</th>
    <th class="ui-state-active">To_user</th>
    <th class="ui-state-active">Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @issues.each do |issue| %>
  <tr class="smart_row">
    <td class="ui-state-default"><%= issue.department %>-<%= issue.id %></td>
    <td class="ui-state-default"><%= issue.name %></td>
    <td class="ui-state-default"><%= issue.email %></td>
    <td class="ui-state-default"><%= issue.department %></td>
    <td class="ui-state-default"><%= issue.subject %></td>
    <% if issue.to_user>0 %>
      <td class="ui-state-default"><%= User.find(issue.to_user).name %></td>
    <% else %>
      <td class="ui-state-default"></td>
    <% end %>
    <td class="ui-state-default"><%= Issue::STATUS_LIST[issue.status] %></td>
    <td class="ui-state-default">
      <% link_to 'Show', '/staff/'+issue.id.to_s %>
      <%= link_to '/staff/'+issue.id.to_s do %>
        <span class="ui-icon ui-icon-document" title="Show"></span>
      <% end %>
    </td>
    <% if issue.to_user==session[:user_id] %>
    <td class="ui-state-default">
      <% link_to 'Unassign', '/staff/unassign/'+issue.id.to_s %>
      <%= link_to '/staff/unassign/'+issue.id.to_s do %>
        <span class="ui-icon ui-icon-minus" title="Unassign"></span>
      <% end %>
    </td>
    <% else %>
    <td class="ui-state-default">
      <% link_to 'Assign', '/staff/assign/'+issue.id.to_s %>
      <%= link_to '/staff/assign/'+issue.id.to_s do %>
        <span class="ui-icon ui-icon-plus" title="Assign"></span>
      <% end %>
    </td>
    <% end %>
  </tr>
<% end %>
</table>
<% end %>
