<h1>Listing issue_comments</h1>

<table>
  <tr>
    <th>Issue</th>
    <th>User</th>
    <th>Text</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @issue_comments.each do |issue_comment| %>
  <tr>
    <td><%= issue_comment.issue_id %></td>
    <td><%= issue_comment.user_id %></td>
    <td><%= issue_comment.text %></td>
    <td><%= link_to 'Show', issue_comment %></td>
    <td><%= link_to 'Edit', edit_issue_comment_path(issue_comment) %></td>
    <td><%= link_to 'Destroy', issue_comment, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Issue comment', new_issue_comment_path %>
