<p id="notice"><%= notice %></p>

<p>
  <b>Issue:</b>
  <%= @issue_comment.issue_id %>
</p>

<p>
  <b>User:</b>
  <%= @issue_comment.user_id %>
</p>

<p>
  <b>Text:</b>
  <%= @issue_comment.text %>
</p>


<%= link_to 'Edit', edit_issue_comment_path(@issue_comment) %> |
<%= link_to 'Back', issue_comments_path %>
