<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>Sit</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <%= stylesheet_link_tag    "application" %>
  <%= stylesheet_link_tag    "jquery-ui" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "jquery-ui" %>
  <%= csrf_meta_tags %>
</head>
<body>
<table class="main">
  <tr>
    <td class="main-left">
      <% if session[:user_id] %>
      <%= link_to 'Staff issues', staff_url, :class=>"ui-state-default ui-corner-all" %>
      <div style="height:5px;"></div>
      <%= link_to 'Users', users_url, :class=>"ui-state-default ui-corner-all" %>
      <div style="height:5px;"></div>
      <%= link_to 'Staff logout', logout_url, :class=>"ui-state-default ui-corner-all" %>
      <% else %>
      <%= link_to 'Guest issues', issues_url, :class=>"ui-state-default ui-corner-all" %>
      <div style="height:5px;"></div>
      <%= link_to 'Staff login', login_url, :class=>"ui-state-default ui-corner-all" %>
      <% end %>
    </td>
    <td class="main-right"><%= yield %></td>
  </tr>
</table>

</body>
</html>
