<% if notice %>
  <div class="ui-widget">
    <div style="padding-left:10px; margin-bottom:5px;" class="ui-state-highlight ui-corner-all"> 
      <p><span style="float: left; margin-right: .3em;" class="ui-icon ui-icon-info"></span>
      <%= notice %></p>
    </div>
  </div>
<% end %>

<table>
  <tr>
    <td class="ui-state-active">Name:</td>
    <td class="ui-state-default"><%= @user.name %></td>
  </p>
  <tr>
    <td class="ui-state-active">Hashed password:</td>
    <td class="ui-state-default"><%= @user.hashed_password %></td>
  </tr>
  <tr>
    <td class="ui-state-active">Salt:</td>
    <td class="ui-state-default"><%= @user.salt %></td>
  </tr>
</table>

<div style="height:2px;"></div>
<%= link_to 'Edit', edit_user_path(@user), :class=>"ui-state-default ui-corner-all" %> |
<%= link_to 'Back', users_path, :class=>"ui-state-default ui-corner-all" %>
