<% if notice %>
  <div class="ui-widget">
    <div style="padding-left:10px; margin-bottom:5px;" class="ui-state-highlight ui-corner-all"> 
      <p><span style="float: left; margin-right: .3em;" class="ui-icon ui-icon-info"></span>
      <%= notice %></p>
    </div>
  </div>
<% end %>

<table>
  <tr>
    <td class="ui-state-active">Name:</td>
    <td class="ui-state-default"><%= @issue.name %></td>
  </tr>
  <tr>
    <td class="ui-state-active">Email:</td>
    <td class="ui-state-default"><%= @issue.email %></td>
  </tr>
  <tr>
    <td class="ui-state-active">Department:</td>
    <td class="ui-state-default"><%= @issue.department %></td>
  </tr>
  <tr>
    <td class="ui-state-active">Subject:</td>
    <td class="ui-state-default"><%= @issue.subject %></td>
  </tr>
  <tr>
    <td class="ui-state-active">Text:</td>
    <td class="ui-state-default"><%= @issue.text %></td>
  </tr>
  <tr>
    <td class="ui-state-active">Status:</td>
    <td class="ui-state-default">
      <% Issue::STATUS_LIST[@issue.status] %>
      <%= form_tag "/staff/set_status/#{@issue.id}" do %>
        <% select_tag :status, Issue::STATUS_LIST %>
        <select name="status">
        <% Issue::STATUS_LIST.each do |s| %>
          <option value="<%= Issue::STATUS_LIST.index(s) %>"
          <% if Issue::STATUS_LIST.index(s).eql?(@issue.status) %>selected<% end %>
          ><%= s %></option>
        <% end %>
        </select>
        <%= submit_tag "Change", :class=>"ui-button ui-state-default ui-corner-all" %>
      <% end %>
    </td>
  </tr>
</table>

<div style="height:2px;"></div>
<%= link_to 'Back', staff_path, :class=>"ui-state-default ui-corner-all" %>

<hr/>
<h3>Comments:</h3>
<% @issue.issue_comments.each do |c| %>
  <div class="ui-state-default" style="margin:2px 0;">
    <span class="small">
      <% if c.user_id %>
        [staff]<%= c.user.name %>
      <% else %>
        [guest]<%= @issue.name %>
      <% end %>
      |
      <%= c.created_at %>
    </span>
    <br/>
    <%= c.text %>
  </div>
<% end %>

<h3>Add comment:</h3>
<%= form_tag "/staff/comment_add/#{@issue.id}" do %>
  <div class="field">
    <%= text_area_tag :text, params[:text], :rows=>10, :cols=>40 %>
  </div>
  <div class="actions">
    <%= submit_tag "Add", :class=>"ui-button ui-state-default ui-corner-all" %>
  </div>
<% end %>